---
import type { Match } from '@src/types/types'
import Typography from './Typography.astro'
interface Props {
	match: Match
}
const { match } = Astro.props
// console.log(match.teams[1].name)
---

<article
	class="w-full h-auto bg-cardslight dark:bg-cardsdark px-3 cursor-pointer active:scale-100 justify-between md:px-5 xl:px-12 rounded-lg py-5 flex flex-col gap-2 hover:scale-95 transition-all"
>
	<div class="w-full flex justify-center gap-4 md:gap-6 items-center">
		<img
			class="aspect-square object-cover w-10 md:w-10 rounded-md"
			src=`./flags/${match.teams[0].image}`
			alt=`Bandera de ${match.teams[0].name}`
		/>
		<span class="text-lg text-accentlight dark:text-accentdark font-bold"
			>VS</span
		>
		<img
			class="aspect-square object-cover w-10 md:w-10 rounded-md"
			src=`./flags/${match.teams[1].image}`
			alt=`Bandera de ${match.teams[1].name}`
		/>
	</div>
	<div
		class="w-full flex flex-col justify-center gap-1 items-center font-semibold text-textlight text-sm md:text-md text-center"
	>
		<Typography as="p" variant="body" color="text">{match.date} 📅</Typography>
		{
			match.time === 'TBD' ? (
				<Typography as="p" variant="body" color="text" class="opacity-60 ">
					TBD
				</Typography>
			) : (
				<Typography as="p" variant="body" color="text">
					{match.time} 🕔
				</Typography>
			)
		}
	</div>
</article>
