---
import type { Match } from '@src/types/types'
interface Props {
	match: Match
}

const { match } = Astro.props
// console.log(match.teams[1].name)
---

<article
	class="w-full h-auto bg-cardslight px-3 cursor-pointer active:scale-100 justify-between md:px-5 xl:px-12 rounded-lg py-5 flex flex-col gap-2 saturate-[40%] hover:saturate-100 hover:scale-95 transition-all"
>
	<div
		class="w-full flex justify-center xl:justify-between gap-2 md:gap-4 items-center"
	>
		<img
			class="aspect-square object-cover w-14 md:w-10 rounded-md"
			src=`./flags/${match.teams[0].image}`
			alt=`Bandera de ${match.teams[0].name}`
		/>
		<span class="text-lg text-accentlight font-bold">VS</span>
		<img
			class="aspect-square object-cover w-14 md:w-10 rounded-md"
			src=`./flags/${match.teams[1].image}`
			alt=`Bandera de ${match.teams[1].name}`
		/>
	</div>
	<div
		class="w-full flex justify-center gap-2 items-center font-semibold text-textlight text-sm md:text-md text-center"
	>
		<span>{match.date}</span>
		<span>-</span>
		<span>{match.time}</span>
	</div>
</article>
