---
import Clock from '@componentsicons/Clock.astro'
import type { Match } from '@src/types/types'
interface Props {
	match: Match
}
const { match } = Astro.props
// console.log(match.teams[1].name)
---

<article
	class="w-full h-auto bg-cardslight px-3 cursor-pointer active:scale-100 justify-between md:px-5 xl:px-12 rounded-lg py-5 flex flex-col gap-2 hover:scale-95 transition-all"
>
	<div class="w-full flex justify-center gap-4 md:gap-6 items-center">
		<img
			class="aspect-square object-cover w-10 md:w-10 rounded-md"
			src=`./flags/${match.teams[0].image}`
			alt=`Bandera de ${match.teams[0].name}`
		/>
		<span class="text-lg text-accentlight font-bold">VS</span>
		<img
			class="aspect-square object-cover w-10 md:w-10 rounded-md"
			src=`./flags/${match.teams[1].image}`
			alt=`Bandera de ${match.teams[1].name}`
		/>
	</div>
	<div
		class="w-full flex flex-col sm:flex-row justify-center gap-1 items-center font-semibold text-textlight text-sm md:text-md text-center"
	>
		<span>{match.date} 📅</span>
		<span class="hidden sm:block">-</span>
		{
			match.time === 'TBD' ? (
				<p class="flex items-center gap-1">A definir 🕔</p>
			) : (
				<span>{match.time} 🕔</span>
			)
		}
	</div>
</article>
